
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb" style=" background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Content/front/img/carousel-1.jpg); ">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
                Our Projects
            </h4>
            <p class="mb-0">
                At Work Code, we take pride in delivering comprehensive technical solutions that meet the diverse needs of our clients across various industries. We develop innovative projects using the latest technologies to provide real added value to their businesses. Our projects include:

            </p>
        </div>
    </div>
    <!-- Header End -->
</div>
<!-- Navbar & Hero End -->




<!-- Services Start -->
<div class="container-fluid service pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <br />
            <h4 class="text-primary"></h4>
            <h1 class="display-5 mb-4 text-primary">Web Application</h1>
            <p class="mb-0">
                At Work Code, we are committed to delivering high-quality web applications that are not only efficient but also tailored to meet the unique needs of our clients. Our approach to web application development is grounded in innovation, precision, and a deep understanding of modern technology trends.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item" @*style="border: 0.25px solid black; border-radius: 12px;"*@>
                    <div class="service-img">
                        <img src="~/Content/front/img/Your paragraph text.png" class="img-fluid rounded-top w-100" alt="Image" />
                        @*<img src="img/service-1.jpg" >*@
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="@Url.Action("Ecommerce_demo", "Portfplio")" class="h4 d-inline-block mb-4"> E-Commerce Systems</a>
                        @*<p class="mb-4">
                        integrated e-commerce website that give clients full control over their stores with a user-friendly admin panel, including features like cart management, online payment, and product search and other.
                    </p>*@
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="@Url.Action("Ecommerce_demo", "Portfplio")">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/Content/front/img/Pharmacy/1.jpg" class="img-fluid rounded-top w-100" alt="Image" />
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="@Url.Action("Pharmacy", "Portfplio")" class="h4 d-inline-block mb-4">Pharmacy Management System</a>
                        @*<p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                    </p>*@
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="@Url.Action("Pharmacy", "Portfplio")">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/Content/front/img/Tourism/1.jpg" class="img-fluid rounded-top w-100" alt="Image" />
                    </div>
                    <div class="rounded-bottom p-4">
                        <a href="@Url.Action("Tourism", "Portfplio")" class="h4 d-inline-block mb-4">Tourism</a>
                        <br />
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="@Url.Action("Tourism", "Portfplio")">Learn More</a>
                    </div>
                </div>
            </div>



            @*<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-item">
                <div class="service-img">
                    <img src="img/service-4.jpg" class="img-fluid rounded-top w-100" alt="Image">
                </div>
                <div class="rounded-bottom p-4">
                    <a href="#" class="h4 d-inline-block mb-4">Supply Optimization</a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
            <div class="service-item">
                <div class="service-img">
                    <img src="img/service-5.jpg" class="img-fluid rounded-top w-100" alt="Image">
                </div>
                <div class="rounded-bottom p-4">
                    <a href="#" class="h4 d-inline-block mb-4">Hr Consulting</a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
            <div class="service-item">
                <div class="service-img">
                    <img src="img/service-6.jpg" class="img-fluid rounded-top w-100" alt="Image">
                </div>
                <div class="rounded-bottom p-4">
                    <a href="#" class="h4 d-inline-block mb-4">Marketing Consulting</a>
                    <p class="mb-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sint? Excepturi facilis neque nesciunt similique officiis veritatis,
                    </p>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                </div>
            </div>
        </div>*@
        </div>










    </div>
</div>
<!-- Services End -->